{% extends 'base.html' %}

{% load highlight %}
{% load extra_tags %}

{% block title %}
温文尔雅阁
{% endblock %}

{% block name %}温文尔雅阁{% endblock %}

{% block blogcount %}
    <div class="site-state-item site-state-posts">
        <a href="{% url 'archive' %}">
            <span class="site-state-item-count">{{ 日志|blog_nums }}</span>
            <span class="site-state-item-name">日志</span>
        </a>
    </div>
{% endblock %}

{% block category_count %}
<div class="site-state-item site-state-categories">
    <span class="site-state-item-count">{{ 分类|category_nums}}</span>
    <span class="site-state-item-name">分类</span>
</div>
{% endblock %}

{% block tag_count %}
<div class="site-state-item site-state-tags">
    <a href="{% url 'tags' %}">
        <span class="site-state-item-count">{{标签|tag_nums}}</span>
        <span class="site-state-item-name">标签</span>
    </a>
</div>
{% endblock %}

{% block content %}
<div class="content-wrap">

{% for blog in page.object_list %}

    <div>
        <a href="{% url 'blog_id' blog.object.id %}">
            <h3>{{ page.number|multiply:HAYSTACK_SEARCH_RESULTS_PER_PAGE|add:forloop.counter }}、{% myhighlight blog.object.title with query max_length 100 start_head True %}</h3>
        </a>

        <div style="word-wrap: break-word">
            {% myhighlight blog.object.content with query max_length 100 start_head True %}
        </div>


        {% if forloop.counter == page.object_list|length %}
        {% else %}
            <hr>
        {% endif %}
    </div>
{% empty %}
    <div class="no-post">没有搜索到相关内容</div>
{% endfor %}



<!--分页展示-->
<nav class="pagination">
    <div class="pageturn">
        <ul class="pagelist">

        {% if page.has_previous %}
            <li class="long"><a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">上一页</a></li>
        {% endif %}

         {% for index in page.pages %}
            {% if index %}
                {% ifequal index page.number %}
                    <li class="active"><a href="?q={{ query }}&amp;page={{ index }}">{{ index }}</a></li>
                {% else %}
                     <li><a href="?q={{ query }}&amp;page={{ index }}" class="page">{{ index }}</a></li>
                {% endifequal %}
            {% else %}
         <li class="none"><a href="">...</a></li>
        {% endif %}
        {% endfor %}
        {% if page.has_next %}
            <li class="long"><a href="?q={{ query }}&amp;page={{ page.next_page_number }}">下一页</a></li>
        {% endif %}

        </ul>
    </div>
</nav>


</div>
{% endblock %}
